<mk-box header="About Employee Recruitment System" [isCollapsable]="false" [isRemovable]="false">
  <p>Employee Recruitment System is a single integrated web platform for all the job recuitment related needs. </p>
</mk-box>

<mk-box header="What you can do" [isCollapsable]="false" [isRemovable]="false">
  <p>As a Human Resource Excecutive, you can perform many actions : -</p>
  <ul>
    <li>Create job description for new openings acrosss organisation</li>
    <li>View status of existing job description acrosss organisation</li>
    <li>Collect feedbacks of the screened candidates and assess them</li>
    <li>Issue of Job Offers</li>
    <li>Note taking</li>
  </ul>
</mk-box>

<mk-box header="Statistics" [isCollapsable]="false" [isRemovable]="false">
  <div class="col-md-3 col-xs-12">
  <mk-box-small backgroundColor="yellow" iconStyleClass="ion ion-pie-graph">
      <mk-box-small-header>20</mk-box-small-header>
      <mk-box-small-content>Active Job Description</mk-box-small-content>
      
  </mk-box-small>
  </div>
      <div class="col-md-3 col-xs-12">
          <mk-box-small header="44" backgroundColor="yellow" iconStyleClass="ion ion-person-add">
            <mk-box-small-content>Job Application Received</mk-box-small-content>
          </mk-box-small>
        </div>
      
      <div class="col-md-3 col-xs-12">
          <mk-box-small backgroundColor="green" iconStyleClass="ion ion-pie-graph">
              <mk-box-small-header>10</mk-box-small-header>
              <mk-box-small-content>Shortlisted candidates</mk-box-small-content>
          </mk-box-small>
          </div>

          <div class="col-md-3 col-xs-12">
              <mk-box-small backgroundColor="red" iconStyleClass="ion ion-pie-graph">
                  <mk-box-small-header>03</mk-box-small-header>
                  <mk-box-small-content>Offer letter Issued</mk-box-small-content>
              </mk-box-small>
          </div>
</mk-box>
<mk-box></mk-box>